# 서버 포트
SERVER_PORT=8081

# JWT 설정
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# 유레카 클라이언트 호스트명
HOSTNAME=

# Eureka 서버 주소
EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=

# DB 설정
DB_HOST=
DB_NAME=userdb
DB_USERNAME=postgres
DB_PASSWORD=

# Redis 설정
REDIS_HOST=
REDIS_PORT=6379

# Config Server 주소
CONFIG_SERVER=