# 서버 포트
SERVER_PORT=8081

# JWT 설정(JWT_SECRET의 값은 게이트웨이와 동일)
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

# 유레카 클라이언트 호스트명
HOSTNAME=

# Eureka 서버 주소
EUREKA_SERVER_URL=

# DB 설정
DB_HOST=
DB_NAME=userdb
DB_USERNAME=postgres
DB_PASSWORD=

# Redis 설정
REDIS_HOST=
REDIS_PORT=6379

LOKI_URL=
ZIPKIN_ENDPOINT=

# 예: 도메인 서비스명을 사용 -> /logs/user-service.log
LOG_FILE_PATH=/logs/<도메인_서비스명>.log
